.middle {
  .flexed(space-around, center);
  flex-direction: column;
  margin-top: 50%;

  @media @desktop {
    margin-top: 10vh;
  }

  .header {
    text-align: center;
    .margined();
    display: none;

    @media @desktop {
      display: inline;
    }
  }

  .header2{
    text-align: center;
    margin-bottom: 5%;
    margin-top: -30%;

    @media @desktop {
      margin-top: 0;
    }
  }

  .middle2 {
    @media @desktop {
        .flexed(space-between, center);
    }

    .landing {
      text-align: center;

      @media @desktop {
        margin-top: -1%;
      }

      p {
        @media @desktop {
          width: 50%;
          margin-left: 25%;
        }
      }

      .signup {
        .buttoned(@buttontxt, @buttonbg);
        border: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.6rem;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        .margined();
        font-weight: bold;
        transition: all 500ms ease-in-out;
        margin-bottom: 50%;

        @media @desktop {
          padding-left: 5vw;
          padding-right: 5vw;
          margin-bottom: 0%;
        }

        &:hover {
          .buttoned(@buttonbg, @buttontxt);
        }
      }
    } // landing

    .featured {
      h3 {
        text-align: center;
      }
      .grid {
        .flexed(space-between, center);
        text-align: center;
        margin-top: 10%;

        @media @desktop {
          width: 306px;
          .flexed(space-between, center);
          flex-wrap: wrap;
        }

        img {
          width: 75px;
          height: 75px;
          padding-right: 1%;
          padding-left: 1%;
          margin-top: 1%;
          margin-bottom: 15%;
          object-fit: cover;

          @media @desktop {
            width: 153px;
            height: 153px;
            margin-bottom: 1%;
          }
        }
      } // grid
    } // featured
  } // middle2

  p {
    @media @desktop {
      margin-top: 5%;
    }
  }

  .lengthy {
    margin-bottom: 10%;
    p {
      margin-bottom: 10%;

      @media @desktop {
        margin-bottom: 5%;
      }
    }
  }

  .about {
    .flexed(space-between, space-between);
    flex-direction: column;
    margin-bottom: 10%;
    width: 75%;

    @media @desktop {
      width: 50%;
    }

    p {
      @media @desktop {
        margin-top: 0%;
      }
    }


    .about-left {
      .flexed(space-between, flex-start);
      flex-direction: column;
      margin-bottom: 10%;

      @media @desktop {
        width: 100%;
      }

      img {
        width: 150px;
        height: 150px;
        .margined();
        border-radius: 90px;
      }
    }

    .about-right {
      .flexed(space-between, flex-end);
      flex-direction: column;
      margin-bottom: 10%;
      text-align: right;


      @media @desktop {
        width: 100%;
      }

      img {
        width: 150px;
        height: 150px;
        .margined();
        border-radius: 90px;
      }
    }
  } // about
} // middle
